/*Global styles*/
header {
    background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .4)), url("https://images.unsplash.com/photo-1515002246390-7bf7e8f87b54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    height: 800px;


}

body {
    font-family: "Montserrat";
}

.l-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 58px;
    line-height: 1.5;
    text-transform: uppercase;
}

/*Navigation Styles*/

.container-nav {
    padding: 2% 15%;

}

.navbar-brand {
    font-size: 32px;
}

.navbar-brand:hover,
.nav-link:hover {
    color: #65c6c4 !important;
}

.nav-link {
    color: white !important;
}



.navbar-nav {
    font-size: 20px;
}

/*ShowCase styles*/
.showcase {
    color: white;
    text-align: center;
    padding-top: 95px;
}

/*btn styles*/
.btn-green {
    background-color: #65c6c4;
    color: white;

}


.btn {
    margin: 10px;
}

.btn-container {
    padding-bottom: 25px;

}

/*Features Styles*/
#features {
    padding: 8% 25%;



}



.feature-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;

}

#features p {
    color: #8f8f8f;
}

/*Icons styles*/
.icon {
    color: #65c6c4;
    margin-bottom: 15px;

}

.icon:hover {
    color: #b4e9e2;
}

/*Testimnials Styles*/
#testimonials {

    text-align: center;
    background-color: #65c6c4;
    color: white;
    font-weight: bolder;

}

#testimonials h2 {
    font-family: "Montserrat-bold";
    font-size: 3rem;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: bolder;
}

#testimonials img {
    width: 15%;
    border-radius: 50%;
    padding: 10px;
}

#press-section {
    background-color: #65c6c4;
    text-align: center;
    padding-bottom: 3%;

}

#press-section img {
    width: 10%;
    margin: 20px 20px 50px;

}

/*Carousel Styles
*/
.carousel-item {
    padding: 7% 15%;

}

/*Pricing Styles*/
#pricing {
    padding: 35px;
}

.btn-pricing {
    padding: 10px 80px;
}

/*Call to action styles*/
#call-to-action {
    background-color: #65c6c4;
    color: #fff;
    text-align: center;
    padding: 10% 15%;

}

.cta-heading {
    font-family: "Montserrat-black";
    font-size: 3.5rem;
    line-height: 1.5;
    text-transform: uppercase;
}

/*Footer styles*/
#main-footer {
 padding: 15px;
    text-align: center;
}

#main-footer .footer-icons {
    margin: 20px 10px;
}